html{
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar-collapse{
    padding: 0;
}
.navbar-nav {
    margin: 0;
}
.navbar-nav li {
    text-align: center;
    border: 1px solid ;
    background-color: lightgrey;
}
/* END NAVBAR */

/* MAIN CONTENT */
#main-content .container-fluid {
    padding: 20px 50px;
}
#main-content .container-fluid .container .section{
    height: 700px;
    margin: 10px 0;
    padding: 20px;
    background-color: lightgrey;
}
/* END MAIN CONTENT */